* {
    padding: 0px;
    margin: 0px auto;
}

.wrapper {
    padding: 10px;
    width: 810px;

}

#menu {
    width: 810px;
    height: 90px;
    background-color: #294e79;
    position: relative;
}

.hoa {
    position: absolute;
    top: -1px;
}

#text_menu {
    position: absolute;
    top: 20px;
    height: 50px;
    left: 60px;
    color: aliceblue;
    font-size: 12px;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

#right {
    float: right;
    padding: 10px;
}

#content {
    width: 810px;
    height: 450px;
}

#Item_menu {
    display: flex;
    width: 500px;
    position: absolute;
    bottom: 0px;
    right: 0;
}

.item {
    padding: 8px;
    background-color: #3d73b1;
    float: right;
}

#left1 {
    width: 550px;
    float: left;
}

#left12 {
    width: 310px;
    float: left;
    padding: 10px 30px 20px 5px;
    text-align: justify;

    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#left13 {
    width: 200px;
    float: right;
    font-size: 19px;
    color: dimgray;
}

#left_content {
    width: 550px;
    height: 400px;
    float: left;
    background-color: #ffffff;
}

#right_content {
    background-color: #f9f9f9;
    width: 250px;
    float: right;
    padding: 3px;
    margin-top: 35px;
    text-align: justify;
}

.flower {
    padding: 4px;
    border: 1px solid gray;
    margin: 10px;
}

#p1-left13 {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cadetblue;
}

#p2-left13 {
    margin-bottom: 20px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cadetblue;
}

#p3-left13 {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cadetblue;
}

.p-left12 {
    margin-bottom: 10px;
    color: red;
    text-shadow: 8px 8px 5px green;
    font-weight: 500;
}

.p_left_content {
    padding: 25px 50px 10px 10px;
    border-bottom: 1px dashed black;
    font-size: 20px;
    color: dimgray;
}

.p-left13 {
    padding: 10px 0px 10px 5px;
    border-bottom: 1px dashed black;
}

.p1_right_content {
    padding: 15px 50px 10px 10px;
    border-bottom: 1px dashed black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dimgray;
    font-size: 20px;
}

.p2_right_content {
    padding: 5px 20px 0px 20px;
}

.b1 {
    margin: 10px;
    width: 60px;
    height: 30px;
}

table input {
    width: 140px;
    height: 20px;
}

.readmore {
    color: #1c3451;
    font-weight: bold;
    margin-right: 30px;
    float: right;
    padding-top: 20px;
    text-decoration: none;
    padding-bottom: 30px;
}

footer {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #1c3451;
    color: aliceblue;
    line-height: 30px;
}

#text-footer {
    color: #3d73b1;
}

#site-right {
    border: 1px solid cornflowerblue;
    background-color: #1c3451;
    color: aliceblue;
}

#go-right {
    border: 1px solid cornflowerblue;
    background-color: #1c3451;
    color: azure;
}

label {
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}